@model StudentsCollations.Models.StudentMany

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentMany</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuSurName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuSurName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuPhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuPhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuCourseFees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuCourseFees)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
